@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;700&display=swap");
header {
  width: 100%;
  height: 7vh;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  position: relative;
  position: fixed;
  top: 0;
  z-index: 5;
  transition: 0.5s;
}
@media (min-width: 768px) {
  header {
    height: 10vh;
    background: #fff;
    padding: 0 5vw;
  }
}
header .logo {
  width: 10rem;
  height: 100%;
  background: #ffff;
}
header .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
}
@media (min-width: 768px) {
  header .logo {
    width: 15rem;
  }
  header .logo img {
    object-fit: contain;
    object-position: center;
  }
}
header nav ul {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  header nav .desktop-links {
    display: none;
  }
  header nav .mobile-links {
    position: absolute;
    background-color: #010304;
    top: 7vh;
    right: -100vw;
    width: 100%;
    height: 100vh;
    transition: 0.5s;
  }
  header nav .mobile-links.active-menu {
    right: -40vw;
  }
  header nav ul {
    border: 2px solid #000;
    width: 50%;
    margin: 5vh 5vw;
  }
  header nav ul li {
    padding: 0.5rem;
  }
  header nav ul li a {
    color: #a16e14;
    color: #ead2a1;
    letter-spacing: 0.1rem;
  }
}
@media (min-width: 768px) {
  header ul {
    width: 20rem;
    display: flex;
    justify-content: space-between;
  }
  header ul li {
    cursor: pointer;
    margin: 0 1rem;
  }
  header ul li a {
    display: block;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    transition: 0.3s;
    position: relative;
    width: 100%;
  }
  header ul li a::after {
    content: "";
    position: absolute;
    bottom: -0.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    border-radius: 5px;
    background-color: #a16e14;
    transition: 0.5s;
  }
  header ul li a:hover {
    color: #333;
  }
  header ul li a:hover:after {
    width: 70%;
  }
  header .toggle {
    display: none;
  }
  header .mobile-links {
    display: none;
  }
}
header.active-hero {
  height: 15vh;
}
header.active-hero nav .mobile-links {
  top: 15vh;
}
@media (min-width: 768px) {
  header.active-hero {
    background-color: transparent;
  }
  header.active-hero nav .desktop-links ul {
    background-color: #000a;
    padding: 0.5rem;
    border-radius: 5px;
  }
  header.active-hero nav .desktop-links ul li a {
    color: #fff;
  }
}

.hero {
  height: 100vh;
  width: 100%;
  padding: 10vh 5vw;
  background-image: url(../img/tingey-injury-law-firm-nSpj-Z12lX0-unsplash.jpg);
  background-image: url(../img/henry-be-TCsCykbwSJw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  isolation: isolate;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
}
.hero .hero-title {
  position: sticky;
  top: 30vh;
  color: #fff;
  text-transform: capitalize;
}
.hero .hero-title h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.hero .hero-title p {
  color: #eee;
  line-height: 1.5;
}
.hero .hero-title .cta {
  margin: 2rem 0 0;
}
.hero .hero-title .cta a {
  display: block;
  width: 10rem;
  text-align: center;
  font-size: 1rem;
  border: 1px solid #000;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: #000;
  text-transform: capitalize;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
  position: relative;
  letter-spacing: 0.05rem;
  isolation: isolate;
}
.hero .hero-title .cta a::before, .hero .hero-title .cta a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: 0.25s;
  z-index: -1;
  background-color: #a16e14;
}
.hero .hero-title .cta a::before {
  background: linear-gradient(0deg, #5b3e0b, #e39a1c);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px 2px rgba(0, 0, 0, 0.4);
}
.hero .hero-title .cta a::after {
  background: linear-gradient(0deg, #e39a1c, #5b3e0b);
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.4), inset -2px -2px 2px rgba(255, 255, 255, 0.4);
  opacity: 0;
}
.hero .hero-title .cta a:hover {
  letter-spacing: normal;
  transform: scale(0.99);
}
.hero .hero-title .cta a:hover::before {
  opacity: 0;
}
.hero .hero-title .cta a:hover::after {
  opacity: 1;
}
.hero .hero-title .cta a:active {
  transform: scale(0.97);
}
.hero .hero-title .cta a:active::before {
  opacity: 0;
}
.hero .hero-title .cta a:active::after {
  opacity: 1;
}
@media (min-width: 678px) {
  .hero .hero-title {
    text-align: center;
  }
  .hero .hero-title h1 {
    font-size: 3rem;
    margin-bottom: 5vh;
  }
  .hero .hero-title p {
    font-size: 1.5rem;
  }
  .hero .hero-title .cta a {
    margin: 0 auto;
  }
}

.main {
  min-height: 100vh;
  background-color: #fff;
  scroll-snap-type: y mandatory;
}
.main .section {
  min-height: 100vh;
  padding: 5vh 5vw;
  border: 2px solid #a16e14;
  scroll-snap-align: end;
}
.main .section .section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.toggle {
  cursor: pointer;
  text-transform: capitalize;
  text-transform: uppercase;
  position: absolute;
  right: 5vw;
  letter-spacing: 0.25rem;
  transition: 0.2s;
}
.toggle.active-toggle {
  letter-spacing: normal;
}

.home-btn {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  display: grid;
  place-items: center;
  transform: translateY(20vh);
  transition: 1s;
}
.home-btn a {
  text-decoration: none;
  border-radius: 5px;
  padding: 0.5rem;
  color: #a16e14;
  border: 1px solid #000;
  outline: 1px solid #ead2a1;
}
.home-btn a:hover {
  background-color: #000;
  color: #ead2a1;
}
.home-btn.active {
  transform: translateY(0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 7vh;
}
@media (min-width: 768px) {
  * {
    scroll-padding-top: 10vh;
  }
}

.container {
  background-color: #f4f4f4;
  width: 100%;
  min-height: 100vh;
  isolation: isolate;
  position: relative;
  overflow-x: hidden;
}
.container::after {
  content: "";
  position: absolute;
  top: 0;
  right: -100vw;
  width: 100%;
  height: 100%;
  background: #000a;
}
.container.active::after {
  right: 0vw;
}

/*# sourceMappingURL=style.css.map */
