.contact {
    .contact-info {
        // border: 1px solid red;
        
        .contact-item {
            border-bottom: 2px solid $brand-gold;
            border-top: 2px solid $brand-gold;
            border-radius: 10px;
            margin: 5vh 0;
            padding: 1rem 0;

            h3 {
                text-transform: uppercase;
                font-size: 1.5rem;
            }

            a {
                color: $brand-gold;
                text-transform: capitalize;
                i {
                    color: $brand-gold;
                    width: 1.5rem;
                }
            }
        }
    }
}