.contact {
    .contact-info {
        // border: 1px solid red;
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: .5rem;
        }
        .contact-item {
            border-bottom: 2px solid $brand-gold;
            border-top: 2px solid $brand-gold;
            border-radius: 10px;
            margin: 10vh 0;
            padding: 1.5rem 0;
            @media (min-width: 768px) {
                margin: 5vh 0;
                border: 2px solid $brand-gold;
                // text-align: center;
                padding: 5vh 1rem;
                
            }
            h3 {
                text-transform: uppercase;
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }
            p {
                
                padding: 0 1rem 0 0;
                // width: max-content;
                margin-bottom: 1rem;
                a {
                    color: $brand-gold;
                    color: #fff;
                    text-decoration: none;
                    text-transform: capitalize;
                    display: block;
                    // border-bottom: 1px solid #ead2a1;
                    // border-bottom-right-radius: 10px;
                    border: none;
                    border-radius: 10px;
                    width: 10rem;
                    padding: .5rem 1rem;
                    isolation: isolate;
                    position: relative;
                    i {
                        color: $brand-gold;
                        color: #fffa;
                        width: 1.5rem;
                    }

                    // BTN PSEUDO BG
                    &::before, &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        width: 100%;
                        z-index: -1;
                        background: $brand-gold;
                        border-radius: 10px;
                        border: none;
                        outline: none;
                        transition: .3s;
                    }
                    &::before {
                        background: $btn-cta;
                        box-shadow: $box-shadow-sm;
                    }
                    &::after{
                        background: $btn-cta-hover;
                        box-shadow: $box-shadow-sm-hover;
                        opacity: 0;
                    }

                    // ACTIVE AND HOVER STATE
                    // DESKTOP = HOVER && MOBILE = ACTIVE
                    @media (max-width: 1024px){
                        &:active {
                            transform: scale(.95);
                            &::before {opacity: 0;}
                            &::after {opacity: 1;}
                        }
                    }
                    @media (min-width: 1024px){
                        &:hover {
                            transform: scale(.95);
                            &::before {opacity: 0;}
                            &::after {opacity: 1;}
                        }
                    }
                }
                
            }
        }
    }


    // FORM 
    .contact-form {
        // border: 2px solid $brand-gold;
        min-height: 100vh;
        // height: auto;
        border-radius: 10px;
        padding: 5vh 0;
        @media (min-width: 768px){
            width: 60%;
            margin: 5vh auto;
        }
        .form-title {
            margin-bottom: 5vh;
            text-align: center;
            font-size: 1.5rem;
            @media (min-width: 1024px){
                font-size: 2rem;
            }
            position: relative;
            width: max-content;
            margin: 0 auto 5vh;
            // PSEUDO UNDERLINE
            &::before, &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: $btn-cta;
                transform: scale(0);
                transition: 1.5s;
            }
            &::after {
                bottom: 4px;
                width: 60%;
            }

            &.active-item {
                &::before, &::after {
                    transform: scale(1);
                }
            }
        }

        .input-box {
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            margin-bottom: 10vh;

            label {
                text-transform: uppercase;
                transition: .2s;
                font-weight: 500;
                // transform: translateY(1.5rem) translateX(.5rem);
            }

            input, textarea {
                border: none;
                border-bottom: 2px solid $brand-gold;
                border-bottom-right-radius: 10px;
                border-color: $brand-gold;
                outline: none;
                transition: .3s;
                font-size: 1rem;
                // border: 1px solid red;
                padding: .5rem 0;

                &::placeholder {
                    opacity: 0;
                    letter-spacing: .1rem;
                    transition: .2s;
                }
                &:focus {
                border-bottom: 2px solid $brand-gold;
                border-bottom-right-radius: 10px;
                    &::placeholder {
                        opacity: 1;
                        letter-spacing: normal;
                    }
                }

                &:invalid {
                    border-bottom: 1px solid #000;
                border-bottom-right-radius: 0px;

                    &:focus {
                        border-color: $brand-gold;
                    }
                }
            }

            textarea {
                padding: .5rem;
                resize: none;
                // border: 1px solid $brand-gold;
                // border-radius: 10px;
            }

            // DESKTOP HOVER STYLE
            // @media (min-width: 900px){
            //     &:hover {
            //         label {
            //             color: $brand-gold;
            //         }
            //     }
            // }
            // INPUT BOX HOVER STATE
            @media (min-width: 1024px){
                margin-bottom: 5vh;
            &:hover {
                label {
                    color: $brand-gold;
                    // transform: translateX(0) translateY(0);
                    transition: .5s;
                }
            }
        }
        }

        .submit-btn {
            margin: 0 auto;
            width: 100%;
            text-transform: uppercase;
            position: relative;
            isolation: isolate;
            border: none;
            outline: none;
            display: block;
            font-size: 1rem;
            color: #fff;
            padding: .5rem 0;
            transition: .2s;
            cursor: pointer;
            letter-spacing: .1rem;
            @media (min-width: 1024px){
                width: 50%;
            }

            // SUBMIT BTN AND SHADOW
            &::before , &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $brand-gold;
                border: none;
                outline: none;
                transition: .3s;
                z-index: -1;
                border-radius: 10px;
            }
            &::before {
                background: $btn-cta;
                box-shadow: $box-shadow-sm;
            }
            &::after {
                background: $btn-cta-hover;
                box-shadow: $box-shadow-sm-hover;

                opacity: 0;
            }
            // HOVER AND ACTIVE STATES
            // MOBILE ACTIVE STATE
            @media (max-width: 1024px){
                &:active {
                    letter-spacing: normal;
                    transform: scale(.98);
                    &::before {opacity: 0;}
                    &::after {opacity: 1;}
                }
            }
            // DESKTOP HOVER STATE
            @media (min-width: 1024px){
                &:hover {
                    letter-spacing: normal;
                    transform: scale(.98);
                    &::before {opacity: 0;}
                    &::after {opacity: 1;}
                }
            }
        }
    }
}