

.main {
    // border: 2px solid blue;
    min-height: 100vh;
    background-color: #fff;

    .section {
        min-height: 100vh;
        padding: 5vh 5vw;
        border: 2px solid $brand-gold;

        .section-title {
            text-align: center;
            text-transform: uppercase;
            font-size: 1.5rem;
        }
    }
}