.services {
    // background: #f4f4f4;

    .services-container {
        // border: 1px solid red;
        display: grid;
        gap: 10vh;
        // MOBILE CONTAINER
        .service-item {
            // border: 1px solid $brand-gold;
            // border-bottom: 2px solid $brand-gold;
            // border-top: 2px solid $brand-gold;
            // border-bottom-right-radius: 10px;
            // border-top-right-radius: 10px;
            padding: 1rem .5rem;
            height: 350px;
            height: auto;
            position: relative;
            isolation: isolate;
            @media (max-width: 768px){
            // PSEUDO BORDER
            &::before , &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: .5s;
                z-index: -1;
                // border-radius: 10px;
            }
            &::before {
                border-bottom: 2px solid $brand-gold;
                border-top: 2px solid $brand-gold;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
            }
            &::after {
                // border: 2px solid $brand-gold;
                border-radius: 10px;
                border-right: 2px solid $brand-gold;
                opacity: 0;
            }
        }
            .service-title {
                figure {
                    // border: 1px solid red;
                    width: 5rem;
                    height: 5rem;
                    overflow: hidden;
                    display: grid;
                    place-items: center;
                    margin: 1rem 0;

                    img {
                        object-fit: contain;
                        height: 100%;
                        width: 100%;
                        padding: .5rem;
                    }

                    @media (min-width: 768px){
                        width: 6.5rem;
                        height: 6.5rem;
                    }
                }

                h3 {
                    text-transform: uppercase;
                    font-size: 1.25rem;
                    color: $brand-gold;
                }
            }

            .content {
                p {
                    text-transform: capitalize;
                    border-bottom: 1px solid $brand-gold;
                    height: 0;
                    transition: .5s;
                    overflow: hidden;
                }
                // CTA MARGIN AUTO = CENTER ALIGNED
                a {
                    // margin: 0 auto;
                }
                @media (min-width: 768px){
                    a {
                        margin: 0 auto;
                    }
                }
            }
            &:hover {
                .service-title {
                    h3 {
                        transition: .3s;
                        color: #000;
                    }
                }
                .content {
                    p {
                        height: 10vh;
                    }
                }
                // ITEM BORDER ON HOVER
                // &::before {opacity: 0;}
                &::after {opacity: 1;}
            }

            &.active-content {
                transition: 1.5s;
                &::after {
                    opacity: 1;
                }
                // .service-title {
                //     h3 {
                //         color: #000;
                //         transition: 1.5s;
                //     }
                // }
                .content {
                    p {
                        height: 10vh;
                        transition: 1.5s;
                    }
                }
            }
        }

        // TABLET CONTAINER 
        @media (min-width: 768px){
            // border: 1px solid green;
            text-align: center;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            .service-item {
                border: 1px solid $brand-gold;
                border-radius: 10px;
                height: 50vh;
                overflow: hidden;
                .service-title {
                    figure {
                    margin: 0 auto;
                    }
                }
            }
        }

        // DESKTOP CONTAINER 
        @media (min-width: 1024px) {
            // border: 1px solid yellow;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
        }
    }
}