.toggle {
    cursor: pointer;
    text-transform: capitalize;
    text-transform: uppercase;
    position: absolute;
    right: 5vw;
    letter-spacing: .25rem;
    transition: .2s;

    &.active-toggle {
        letter-spacing: normal;
    }
}