@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;700&display=swap');


$brand-dark: #010304;
$brand-gold: #a16e14;
$text-main: #000;
$text-second: #fff;

$btn-cta: linear-gradient(0deg, hsl(38, 78%, 25%), hsl(38, 78%, 40%))