@import 'header';
@import 'about';
@import 'hero';
@import 'main';
@import 'services';
@import 'contact';
@import 'footer';
@import 'variables';
@import 'utilities';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 7vh;
    @media (min-width: 900px){
    scroll-padding-top: 10vh;
    }
}
.container {
    background-color: #f4f4f4;
    width: 100%;
    min-height: 100vh;
    isolation: isolate;
    position: relative;
    // overflow-x: hidden;

    // CONTAINER OVERLAY
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        width: 100%;
        height: 100%;
        background: #000a;
    }
    &.active {
        &::after {
            right: 00vw;
            display: block;
        }
    }
    
}