@import 'header';
@import 'hero';
@import 'variables';
@import 'utilities';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #f4f4f4;
    width: 100%;
    min-height: 100vh;

    main {
        min-height: 100vh;
        background-color: #333;
    }
}