@use '../abstracts';

.about {
    background-image: linear-gradient(-30deg, #f4f4f4 45%, #fff 45%);

    .about-article {
        max-width: 800px;
        p {
            text-wrap: balance;
            line-height: 1.8;
            font-family: sans-serif;
            &:nth-child(1){
                margin-bottom: 1rem;
            }
            

            a {
                width: max-content;
                padding-right: 1rem;
                display: block;
                color: abstracts.$brand-gold;
                text-transform: capitalize;
                text-decoration: underline;
            }

        }

        .article-intro {
            
            &::first-letter {
                font-size: 2rem;
                background-color: #000;
                padding: 0 .2rem;
                color: #ead2a1;
                color: #fff;
                text-shadow: .1rem .1rem 0px abstracts.$brand-gold;
                box-shadow: 3px 3px 0px rgba(0,0,0,.2);
                border-radius: 5px;
                float: left;
                margin-right: 0.15em;
            }

        }
    }


    // DESKTOP SECTION STYLE
    @include abstracts.md {
        background-attachment: fixed;
        background-image: linear-gradient(40deg, #fff 60%, #f4f4f4 45%);
    }
}