@use '../abstracts';

footer {
    // outline-color: red;
    background: #ffff;
    color: #000;
    
    // min-height: 90vh;
    width: 100%;
    padding: 5vh 5vw 10vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5vh;

    @include abstracts.xlg {
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;
    }

    .footer-logo {
        width: 15rem;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    .footer-item-title {
        text-transform: capitalize;
        font-size: 1rem;
        font-size: clamp(1.125rem, 2vw, 1.15rem);
        margin-bottom: 0.5rem;
        font-weight: 600;
    }
    
    p, a, span {
        font-family: sans-serif;
    }

    .copyright {
        text-transform: capitalize;
        p {
            margin-bottom: 0.25rem;
        }
        a {
            text-decoration: underline 1px solid abstracts.$brand-gold;
        }
    }

    .footer-item {
        ul {
            list-style: none;

            li {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                margin-bottom: 0.25rem;

                a {
                    width: 65%;
                    &:hover {
                        color: abstracts.$brand-gold;
                    }
                }

                &:hover {
                    .icon {
                        transform: translateX(0.25rem);
                    }
                }
            }
        }
    }




}