@use "../abstracts";

header {
    // outline-color: blue;
    $header-height: 7vh;
    background: #fff;
    position: fixed;
    top: 0;

    width: 100%;
    height: 7vh;
    height: $header-height;
    padding: 0.25rem 5vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    transition: 500ms;

    // DESKTOP HEADER
    @include abstracts.sm {
        height: 10vh;
        background: #fff;
        padding: 0.5rem 5vw;
    }

    // LOGO 
    .logo {
        // outline-color: red;
        width: auto;
        height: 100%;
        background: #ffff;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: left;
        }

        
    }

    nav {
        // GENERAL NAV STYLE
        ul {
            list-style: none;

            li {
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }

        .mobile-links {
            @include abstracts.md {
                display: none;
            }

            // outline-color: green;
            position: absolute;
            top: $header-height;
            right: 0;
            width: 100%;
            height: 0vh;

            background-color: abstracts.$brand-dark;
            color: abstracts.$text-light;
            // border-bottom: 2px solid abstracts.$brand-gold;
            border-bottom: 0px solid transparent;
            transition: .5s;
            overflow: hidden;
            z-index: 1;

            ul {
                border: 2px solid #000;
                width: 50%;
                margin: 5vh 5vw;
                // outline-color: red;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li {
                    transform: translateX(3rem);
                    opacity: 0;
                    transition: 500ms;

                    a {
                        display: flex;
                        align-items: baseline;
                        gap: 1rem;
                        padding-bottom: 0.5rem;
                        // color: abstracts.$brand-gold;
                        border-bottom: 1px solid #ead2a188;
                        width: 100%;
                        cursor: default;
                        transition: 500ms;

                    }

                    &:hover {
                        a {
                            color: #ead2a1;
                            transition: 125ms;
                        }
                    }
                }
            }

            // SOCIAL LINKS
            .social-links {
                // border: 2px solid red;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                margin: 0 5vw;
                overflow: hidden;

                a {
                    // color: #ead2a1;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    transform: translateY(2rem);
                    opacity: 0;
                    text-decoration: none;

                    i {
                        width: 1.5rem;
                        color: abstracts.$brand-gold;
                    }
                }
            }

            // ACTIVE ASIDE
            &.active-menu {
                top: $header-height;
                height: 50vh;
                border-bottom: 2px solid abstracts.$brand-gold;

                .mobile-links {
                    top: $header-height;
                }

                ul {
                    li {
                        transform: translateX(0);
                        opacity: 1;

                        &:nth-child(1) {
                            transition-delay: .2s;
                        }

                        &:nth-child(2) {
                            transition-delay: .3s;
                        }

                        &:nth-child(3) {
                            transition-delay: .4s;
                        }
                    }
                }

                .social-links {
                    a {
                        opacity: 1;
                        transform: translateY(0);
                        transition: 1s;

                        &:nth-child(1) {
                            transition-delay: .4s;
                        }

                        &:nth-child(2) {
                            transition-delay: .5s;
                        }

                        &:nth-child(3) {
                            transition-delay: .6s;
                        }
                    }
                }
            }
        }
        
        .desktop-links {
            display: none;

            @include abstracts.md {
                display: block;
            }

        }
    }

    // DESKTOP MENU
    @include abstracts.md {

        ul {
            display: flex;
            width: 20rem;
            justify-content: space-between;
            li {
                cursor: pointer;

                a {
                    display: block;
                    color: #0009;
                    text-transform: uppercase;
                    font-size: 0.9rem;
                    letter-spacing: .05rem;
                    transition: .3s;
                    position: relative;
                    width: 100%;
                    // PSEUDO UNDERLINE
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -.2rem;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0%;
                        height: 2px;
                        border-radius: 5px;
                        background-color: abstracts.$brand-gold;
                        transition: 250ms;
                    }
                    
                    // UNDERLINE TRANSITION ON HOVER
                    &:hover {
                        color: #000;
                        &:after {
                            width: 70%;
                        }
                    }
                }

            }
        }

        .toggle {
            display: none;
        }
        .mobile-links {
            display: none;
        }
    }


    // OBSERVER CLASS 
    &.active-hero {
        $header-height: 10vh;
        height: 10vh;
        nav {
            .mobile-links {
                top: 10vh;
            }
        }

        @media (min-width: 1024px) {
            background-color: #fff;
            height: 15vh;
            nav {
                .desktop-links {
                    ul {
                        li {
                            a {
                                color: #fff;
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}