@use '../abstracts';

.hero {
    * {
        // outline-color: #0007;
    }
    // outline-color: blue;
    height: 100vh;
    width: 100%;
    padding: 20vh 0vw 10vh;
    position: relative;
    isolation: isolate;
    
    display: grid;
    gap: 1rem;
    grid-template-areas: 'title' 'image' 'subtitle' 'cta';
    // grid-template-rows: auto auto auto 1fr;
    grid-template-rows: auto 60% auto auto;
    


    @include abstracts.md {
        opacity: .2;
        // grid-template-columns: 1fr 1fr;
        // grid-template-rows: 1fr;
        // padding: 25vh 0vw 10vh;
    }
    // outline-color: red;
    // color: red;
    // HERO OVERLAY
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: hsla(0, 0%, 0%, 0.550);
        background: #000;
        background: #ffff;
        z-index: -1;
    }

    .hero-title {
        color: #000;
        padding-left: 5vw;
        grid-area: title;
        // grid-area: title;
        h1 {
            text-transform: capitalize;
            font-size: 2rem;
            text-wrap: balance;
            line-height: 1.2;
        }

    }

    .hero-subtitle {
        padding-left: 5vw;
        grid-area: subtitle;
    }

    .hero-cta {
        grid-area: cta;
        padding-left: 5vw;
        .cta {
            margin: 0;
        }
    }

    .hero-image {
        grid-area: image;
        overflow: hidden;
        width: 100%;
        img {
            // border-radius: 0.5rem;
            width: 100%;
            height: 100%;
            // max-height: ;
            object-fit: cover;
            @include abstracts.sm {

            }
        }
    }
}