@use '../abstracts';

.hero {
    * {
        // outline-color: #0007;
    }
    // outline-color: blue;
    height: 90vh;
    width: 100%;
    padding: 15vh 5vw 5vh;
    position: relative;
    isolation: isolate;
    
    display: grid;
    grid-template-areas: 'image' 'title' 'cta';
    grid-template-areas: 'title' 'image' 'cta';
    grid-template-rows: 1fr auto auto;
    grid-template-rows: auto 50% auto;
    grid-template-rows: auto 1fr auto;
    
    @include abstracts.sm {
        gap: 1rem;
    } 

    @include abstracts.lg {
        padding: 20vh 5vw 5vh;
        height: 100vh;
        grid-template-columns: 1fr 1fr 20rem;
        grid-template-rows: auto 1fr;
        grid-template-areas: ' title title cta' 
                                'image image image';
    }
    // HERO OVERLAY
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: hsla(0, 0%, 0%, 0.550);
        background: #000;
        background: #ffff;
        z-index: -1;
    }

    .hero-title {
        grid-area: title;
        color: #000;

        h1 {
            text-transform: capitalize;
            font-size: 2rem;
            font-size: clamp(1.65rem, 5vw, 3rem);
            text-wrap: balance;
            max-width: 500px;
            line-height: 1.2;

            span {
                color: abstracts.$brand-gold;
            }
        }

        @include abstracts.sm {
            margin-bottom: 0;
        }
    }

    .hero-subtitle {
        // padding-left: 5vw;
        grid-area: subtitle;
        margin-bottom: 0.5rem;
        p {
            font-weight: 400;
            // font-family: sans-serif;
        }
        @include abstracts.sm {
            margin-bottom: 0;
        }
    }

    .hero-cta {
        grid-area: cta;
        text-align: right;
        .cta {
            margin: 0;
            margin-left: auto;
        }

        // DESKTOP CTA
        @include abstracts.lg {
            text-align: left;
            background: none;
            padding: 1rem;
            border-bottom-left-radius: 0.5rem;
            
            // outline-color: red;
            transform: translateY(23vh);
            background: linear-gradient(0deg, #fff9 30%, #fff 60%);
            background: #fff;

            .cta {
                margin: 0;
            }

        }

    }

    .hero-image {
        grid-area: image;
        overflow: hidden;
        width: 100%;
        margin: 1rem 0 0.75rem;
        // margin-bottom: 1rem;
        // margin-bottom: 0.5rem;

        @include abstracts.sm {
            border-radius: 0.5rem;
            margin: 0;
            // padding-inline: 5vw;
        }

        img {
            width: 100%;
            height: 100%;
            object-position: 100% 50%;
            object-fit: cover;
            border-radius: 0.5rem;
            @include abstracts.sm {
                object-position: center;
            }
        }
    }
}