@use '../abstracts';

.hero {
    * {
        // outline-color: #0007;
    }
    // outline-color: blue;
    height: 90vh;
    width: 100%;
    padding: 15vh 5vw 5vh;
    position: relative;
    isolation: isolate;
    
    display: grid;
    gap: 0.5rem;
    grid-template-areas: 'title' 'image' 'cta';
    grid-template-rows: auto 1fr auto;
    

    @include abstracts.lg {
    padding: 20vh 5vw 5vh;
        height: 100vh;
        grid-template-columns: 1fr 1fr 20rem;
        grid-template-rows: auto 1fr;
        grid-template-areas: ' title title cta' 
                                'image image image';
    }
    // outline-color: red;
    // color: red;
    // HERO OVERLAY
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: hsla(0, 0%, 0%, 0.550);
        background: #000;
        background: #ffff;
        z-index: -1;
    }

    .hero-title {
        color: #000;
        // padding-left: 5vw;
        grid-area: title;
        // grid-area: title;
        h1 {
            text-transform: capitalize;
            font-size: 2rem;
            font-size: clamp(2rem, 5vw, 3rem);
            font-weight: 00;
            text-wrap: balance;
            max-width: 500px;
            line-height: 1.2;

            span {
                color: abstracts.$brand-gold;
            }
        }

    }

    .hero-subtitle {
        // padding-left: 5vw;
        grid-area: subtitle;
        margin-bottom: 1rem;

        p {
            font-weight: 400;
            font-family: sans-serif;
        }
    }

    .hero-cta {
        grid-area: cta;
        // padding-left: 5vw;
        .cta {
            margin: 0;
        }
    }

    .hero-image {
        grid-area: image;
        overflow: hidden;
        width: 100%;

        @include abstracts.sm {
            border-radius: 10px;
            // padding-inline: 5vw;
        }

        img {
            // border-radius: 0.5rem;
            width: 100%;
            height: 100%;
            object-position: 100% 50%;
            object-fit: cover;
            border-radius: 5px;
            @include abstracts.sm {
                object-position: center;
            }
        }
    }
}