@use '../abstracts';


.main {
    background-color: #fff;

    .section {
        min-height: 80vh;
        padding: 10vh 5vw;

        .section-title {
            margin-bottom: 5vh;
            overflow: hidden;
            position: relative;
            width: max-content;
            
            h2 {
                color: #000;
                text-transform: uppercase;
                font-size: 2rem;
                transition: 1s;

            }
            // UNDERLINE
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                border-radius: 10px;
                background: abstracts.$brand-gold;
                transition: 1s;
            }

            // IO CLASS
            &.io-item {
                
                h2 {

                    transform: translateY(-100%);

                }

            }

            // ACTIVE IO CLASS
            &.active-item {
                
                h2 {
                    
                    transform: translateY(0);

                }
            }

        }
    }
}