@use '../abstracts';

.services {
    background: #f4f4f4;

    .services-container {
        // border: 1px solid red;
        display: grid;
        gap: 10vh;
        // MOBILE CONTAINER
        .service-item {
            border-radius: 10px;
            background: #fff;
            padding: 1rem;
            // height: 350px;
            position: relative;
            isolation: isolate;
            box-shadow: 0.125rem 0.5rem 1rem #0002;

            // @media (max-width: 768px){
            //     max-height: 55vh;
            // }
            @include abstracts.md {
                height: 350px;
            }

            .service-title {
                
                figure {
                    // border: 1px solid red;
                    width: 5rem;
                    height: 5rem;
                    overflow: hidden;
                    display: grid;
                    place-items: center;
                    margin-bottom: 0.5rem;

                    @include abstracts.md {
                        margin: 0 auto 1rem;
                    }

                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }
                }

                h3 {
                    text-transform: uppercase;
                    font-size: 1.25rem;
                    color: abstracts.$brand-gold;
                    margin-bottom: 0.5rem;
                }
            }

            .content {

                p {
                    padding-bottom: 0.25rem;
                    // text-transform: sente;
                    border-bottom: 1px solid abstracts.$brand-gold;
                    // height: 0vh;
                    transition: .5s;
                    overflow: hidden;
                    text-wrap: balance;
                    font-family: sans-serif;
                    @include abstracts.md {
                        height: 10vh;
                    }
                }
                // CTA MARGIN AUTO = CENTER ALIGNED
                .cta {
                    margin: 1rem 0 0;
                }

                a {
                    color: abstracts.$brand-gold;
                    width: 60%;
                    margin: 1rem 0 0;
                    padding: 0.5rem 0;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    text-transform: capitalize;
                    cursor: default;

                    @include abstracts.md {
                        cursor: pointer;
                        width: 100%;
                        text-align: center;
                        justify-content: center;
                    }

                    &:hover, &:focus {
                        .icon {
                            transform: translateX(0.25rem);
                        }
                    }
                }

                // DESKTOP CTA
                @include abstracts.md {
                    .cta {
                        margin: 1rem auto 0;
                    }
                    a {
                        // margin: 0 auto;
                        // transform: translateY(10vh);
                    }
                }
            }

            &:hover {
                .service-title {
                    h3 {
                        transition: .3s;
                        color: #000;
                    }
                }
                @media (min-width: 768px){
                    transition: background-color .2s;
                    .content {
                        a {
                            transform: translateY(0);
                            transition: transform .5s;
                        }
                    }
                }
            }

            // IO ACTIVE CLASS
            &.active-content {
                transition: 1.5s, background-color .2s;
                &::after {
                    opacity: 1;
                }
                .service-title {
                    h3 {
                        color: #000;
                        transition: 1.5s;
                    }
                }
                .content {
                    p {
                        // height: 10vh;
                        border-bottom: 1px solid #000;
                        transition: 1.5s;
                    }

                    a {
                        transition: .2s;
                        &::after, &::before {
                            transition: .2s;
                        }
                    }
                }
                &:hover {
                    .service-title {
                        h3 {
                            color: abstracts.$brand-gold;
                            transition: .3s;
                        }
                    }
                }
            }
        }

        // TABLET CONTAINER 
        @media (min-width: 768px){
            // border: 1px solid green;
            text-align: center;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;

            // .service-item {
            //     border-radius: 10px;
            //     height: auto;
            //     overflow: hidden;
            //     .service-title {
            //         figure {
            //         margin: 0 auto;
            //         }
            //     }
            // }
        }

        // DESKTOP CONTAINER 
        @media (min-width: 1024px) {
            // border: 1px solid yellow;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 4rem 2rem;
        }
    }
}