@use '../abstracts/variables';

.services {
    // background: #f4f4f4;

    .services-container {
        // border: 1px solid red;
        display: grid;
        gap: 10vh;
        // MOBILE CONTAINER
        .service-item {
            // border: 1px solid variables.$brand-gold;
            // border-bottom: 2px solid variables.$brand-gold;
            // border-top: 2px solid variables.$brand-gold;
            // border-bottom-right-radius: 10px;
            // border-top-right-radius: 10px;
            border: 2px solid variables.$brand-gold;
            border-left: none;
            border-radius: 10px;
            padding: 1rem .5rem;
            height: 350px;
            position: relative;
            isolation: isolate;
            @media (max-width: 768px){
                max-height: 55vh;
        }
            .service-title {
                figure {
                    // border: 1px solid red;
                    width: 5rem;
                    height: 5rem;
                    overflow: hidden;
                    display: grid;
                    place-items: center;
                    margin: 1rem 0;

                    img {
                        object-fit: contain;
                        height: 100%;
                        width: 100%;
                        padding: .5rem;
                    }

                    @media (min-width: 768px){
                        width: 6.5rem;
                        height: 6.5rem;
                    }
                }

                h3 {
                    text-transform: uppercase;
                    font-size: 1.25rem;
                    color: variables.$brand-gold;
                }
            }

            .content {
                p {
                    // text-transform: sente;
                    border-bottom: 1px solid variables.$brand-gold;
                    height: 0vh;
                    transition: .5s;
                    overflow: hidden;
                }
                // CTA MARGIN AUTO = CENTER ALIGNED
                a {
                    // margin: 0 auto;
                }
                @media (min-width: 768px){
                    a {
                        margin: 0 auto;
                        transform: translateY(10vh);
                    }
                }
            }
            &:hover {
                .service-title {
                    h3 {
                        transition: .3s;
                        color: #000;
                    }
                }
                @media (min-width: 768px){
                    background-color: #f4f4f4;
                    transition: background-color .2s;
                    .content {
                        a {
                            transform: translateY(0);
                            transition: transform .5s;
                        }
                    }
                }
            }
            // IO ACTIVE CLASS
            &.active-content {
                transition: 1.5s, background-color .2s;
                &::after {
                    opacity: 1;
                }
                .service-title {
                    h3 {
                        color: #000;
                        transition: 1.5s;
                    }
                }
                .content {
                    p {
                        height: 10vh;
                        border-bottom: 1px solid #000;
                        transition: 1.5s;
                    }

                    a {
                        transition: .2s;
                        &::after, &::before {
                            transition: .2s;
                        }
                    }
                }
                &:hover {
                    .service-title {
                        h3 {
                            color: variables.$brand-gold;
                            transition: .3s;
                        }
                    }
                }
            }
        }

        // TABLET CONTAINER 
        @media (min-width: 768px){
            // border: 1px solid green;
            text-align: center;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            .service-item {
                border: 1px solid variables.$brand-gold;
                border-radius: 10px;
                height: auto;
                overflow: hidden;
                .service-title {
                    figure {
                    margin: 0 auto;
                    }
                }
            }
        }

        // DESKTOP CONTAINER 
        @media (min-width: 1024px) {
            // border: 1px solid yellow;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
        }
    }
}