@use '../abstracts';

.services {
    background: #f4f4f4;

    .services-container {
        // border: 1px solid red;
        display: grid;
        gap: 10vh;
        // MOBILE CONTAINER
        .service-item {
            border-radius: 10px;
            background: #fff;
            padding: 1rem;
            position: relative;
            isolation: isolate;
            
            // PSEUDO BG & SHADOW
            &::before, &::after {
                content: '';
                position: absolute;
                inset: 0;
                background: #fff;
                z-index: -1;
                border-radius: inherit;
                opacity: 0;
                transition: 500ms;
            }
            &::before {
                transition-timing-function: ease-in;
                box-shadow: 0.125rem 0.5rem 0.5rem hsla(0, 0%, 0%, 0.1);
            }
            &::after {
                transition-timing-function: ease-out;
                box-shadow: 0.0125rem 0.25rem 0.5rem hsla(0, 0%, 0%, 0.25);
            }

            @include abstracts.md {
                height: 350px;
            }

            .service-title {
                
                figure {
                    // border: 1px solid red;
                    width: 5rem;
                    height: 5rem;
                    overflow: hidden;
                    display: grid;
                    place-items: center;
                    margin-bottom: 1rem;

                    @include abstracts.md {
                        margin: 0 auto 1rem;
                    }

                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }
                }

                h3 {
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-size: abstracts.$font-clamp-sm;
                    color: abstracts.$text-main;
                    margin-bottom: 0.5rem;
                    transition: 125ms;
                }
            }

            .content {

                p {
                    font-size: 1rem;
                    padding-bottom: 0.25rem;
                    // text-transform: sente;
                    border-bottom: 1px solid #000;
                    // height: 0vh;
                    transition: .5s;
                    overflow: hidden;
                    text-wrap: balance;
                    font-family: sans-serif;
                    @include abstracts.md {
                        height: 10vh;
                    }
                }
                // CTA MARGIN AUTO = CENTER ALIGNED
                .cta {
                    margin: 1rem 0 0;
                }

                a {
                    color: abstracts.$brand-gold;
                    width: 60%;
                    margin: 1rem 0 0;
                    padding: 0.5rem 0;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    text-transform: capitalize;
                    cursor: default;

                    @include abstracts.md {
                        cursor: pointer;
                        width: 100%;
                        text-align: center;
                        justify-content: center;
                    }

                    &:hover, &:focus {
                        .icon {
                            transform: translateX(0.25rem);
                        }
                    }
                }

                // DESKTOP CTA
                @include abstracts.md {
                    .cta {
                        margin: 1rem auto 0;
                    }
                    a {
                        // margin: 0 auto;
                        // transform: translateY(10vh);
                    }
                }
            }

            &:hover {
                
                @media (min-width: 768px){
                    transition: background-color .2s;
                    .content {
                        a {
                            transform: translateY(0);
                            transition: transform .5s;
                        }
                    }
                }
            }

            &.io-content {
                transform: scale(0.98);
            }
            // IO ACTIVE CLASS
            &.active-content {
                transition: 500ms ease-in-out;
                transform: scale(1);
                &::before {
                    opacity: 1;
                }

                &:hover {
                    transform: scale(1.0125);
                    transition: 500ms;
                    &::before {
                        opacity: 0;
                    }
                    &::after {
                        opacity: 1;
                    }
                    .service-title {
                        h3 {
                            color: abstracts.$brand-gold;
                        }
                    }
                }
            }
        }

        // TABLET CONTAINER 
        @media (min-width: 768px){
            // border: 1px solid green;
            text-align: center;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;

        }

        // DESKTOP CONTAINER 
        @media (min-width: 1024px) {
            // border: 1px solid yellow;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 4rem 2rem;
        }
    }
    
}