@use '../abstracts';

// BOTTOM NAV
.bottom-nav {
    // DISPLAY NONE ON WIDER SCREENS
    @include abstracts.lg {
        display: none;
        height: 7vh;
    }
    // BOTTOM NAV STYLE = FLEX CONTAINER FIXED TO BOTTOM
    position: fixed;
    bottom: 0;
    width: 100%;
    // background: abstracts.$overlay-footer;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0 5vw;
    transform: translateY(15vh);
    transition: 1s;

    // BOTTOM NAV ITEM = FLEX ITEM[A LINK ICON]
    .link-item {
        position: relative;
        display: grid;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 1rem;
        // transform: translateY(1rem);
        transition: .25s;
        
        a {
            color: abstracts.$text-light;
            padding: 1rem 0;

            display: grid;
            place-content: center;
            place-items: center;

            border-radius: 2rem;
            cursor: default;
            position: relative;
            transition: .25s;

            // TOUCH HIGHLIGHT PSEUDO ELEMENT
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                // background: abstracts.$overlay-blue-dark;
                border-radius: inherit;
                z-index: -1;
                transition: .125s;
                transform: scaleX(.5);
                opacity: 0;
                
            }
            // ITEM ICON
            i {
                font-size: 1.125rem;
                font-weight: 700;
                // color: abstracts.$brand;
                transition: .125s;
            }

            .icon {
                opacity: 0.7;
                width: 1.125rem;
            }


            // HOVER AND ACTIVE
            // ACTIVE CLASS
            &:active {
                transition: .25s;

                &::after {
                    transform: scaleX(1);
                    transition: .125s;
                    opacity: .5;
                }
            }

            // HOVER CLASS
            &:hover {
                i {
                    color: abstracts.$text-light;
                }

                .icon {
                    opacity: 1;
                }

                &::after {
                    animation: click .25s;

                    @keyframes click {
                        0% {
                            transform: scaleX(.5);
                            opacity: 0;
                        }

                        50% {
                            opacity: 1;
                            transform: scaleX(1);
                        }

                        80% {
                            opacity: .5;
                            transform: scaleX(1);
                        }

                        100% {
                            opacity: 0;
                            transform: scaleX(1);
                        }
                    }
                }
            }

        }
    }

    // TRANSITION BOTTOM NAV INTO VIEW WHEN HERO IS NOT INTERSECTING
    &.active-bottom-nav {
        transform: translateY(0vh);
        .link-item {
            transform: translateY(0);
            opacity: 1;
            transition: .5s;
        }
    }
    
}